In [1]:
%pip install pandas

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./data/isucon14-final-ranking-2024-12-08.csv")

In [4]:
# top
df.head()

   Rank                             Team   Best  Latest      Time IsStudent
0     1                    1: takonomura  51957   58207  17:58:46        学生
1     2                      957: 第9西東京市  31035   55003  17:54:11       NaN
2     3  307: // TODO: あとでちゃんとしたチーム名になおす  36765   52150  17:58:10       NaN
3     4             7: 都営三田線東急目黒線直通急行日吉行  38722   48615  17:58:13       NaN
4     5                    937: ぱかぱかアルパカ  38053   43888  17:51:06       NaN

In [5]:
# our
df[df.Team.str.contains("ひなあや")]

     Rank          Team  Best  Latest      Time IsStudent
488   489  460: チームひなあや  2585    2607  17:49:27       NaN

In [6]:
# stats
df.describe(percentiles=[0.05,0.25,0.3,0.4,0.5,0.75,0.95]).astype(int).T

        count  mean   std  min  5%   25%   30%   40%   50%   75%    95%    max
Rank      831   416   240    1  42   208   250   333   416   623    789    831
Best      831  6432  6621    0   0  1694  2534  3439  4514  8364  19673  51957
Latest    831  6429  8319    0   0   809  1050  2447  3664  8325  23424  58207